<div>
  <h2 id="page-heading" data-cy="SurvivorHeading">
    <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.home.title">Survivors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-survivor"
        [routerLink]="['/survivor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.home.createLabel">Create a new Survivor</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (survivors().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.home.notFound">No Survivors found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="registrationNumber">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.registrationNumber">Registration Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="surname">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.surname">Surname</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="forenames">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.forenames">Forenames</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="previousSurname">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.previousSurname">Previous Surname</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dob">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.dob">Dob</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gender">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.gender">Gender</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="placeOfBirthTown">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.placeOfBirthTown">Place Of Birth Town</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="placeOfBirthCountry">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.placeOfBirthCountry">Place Of Birth Country</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nationality">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.nationality">Nationality</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nationalId">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.nationalId">National Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="maritalStatus">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.maritalStatus">Marital Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="residentialAddress1">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.residentialAddress1">Residential Address 1</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="residentialAddress2">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.residentialAddress2">Residential Address 2</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="residentialAddress3">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.residentialAddress3">Residential Address 3</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="homePhone">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.homePhone">Home Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="workPhone">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.workPhone">Work Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cellPhone">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.cellPhone">Cell Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="emailAddress">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.emailAddress">Email Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nameOfPlaceOfEmployment">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.nameOfPlaceOfEmployment">Name Of Place Of Employment</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="employerAddress">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.employerAddress">Employer Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="employerEmail">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.employerEmail">Employer Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateOfEmployment">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.dateOfEmployment">Date Of Employment</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reasonForNonEmployment">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.reasonForNonEmployment">Reason For Non Employment</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateOfApplication">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.dateOfApplication">Date Of Application</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="applicationFee">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.applicationFee">Application Fee</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reasonNotApproved">
              <div class="d-flex">
                <span jhiTranslate="medicalLaboratoryCouncilApp.survivor.reasonNotApproved">Reason Not Approved</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (survivor of survivors(); track trackId(survivor)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/survivor', survivor.id, 'view']">{{ survivor.id }}</a>
              </td>
              <td>{{ survivor.registrationNumber }}</td>
              <td [jhiTranslate]="'medicalLaboratoryCouncilApp.Title.' + (survivor.title ?? 'null')">
                {{ { null: '', Mr: 'Mr', Mrs: 'Mrs', Miss: 'Miss', Ms: 'Ms', Dr: 'Dr' }[survivor.title ?? 'null'] }}
              </td>
              <td>{{ survivor.surname }}</td>
              <td>{{ survivor.forenames }}</td>
              <td>{{ survivor.previousSurname }}</td>
              <td>{{ survivor.dob | formatMediumDate }}</td>
              <td [jhiTranslate]="'medicalLaboratoryCouncilApp.Gender.' + (survivor.gender ?? 'null')">
                {{ { null: '', Male: 'Male', Female: 'Female', Unknown: 'Unknown' }[survivor.gender ?? 'null'] }}
              </td>
              <td>{{ survivor.placeOfBirthTown }}</td>
              <td>{{ survivor.placeOfBirthCountry }}</td>
              <td>{{ survivor.nationality }}</td>
              <td>{{ survivor.nationalId }}</td>
              <td [jhiTranslate]="'medicalLaboratoryCouncilApp.MaritalStatus.' + (survivor.maritalStatus ?? 'null')">
                {{ { null: '', Married: 'Married', Single: 'Single', Other: 'Other' }[survivor.maritalStatus ?? 'null'] }}
              </td>
              <td>{{ survivor.residentialAddress1 }}</td>
              <td>{{ survivor.residentialAddress2 }}</td>
              <td>{{ survivor.residentialAddress3 }}</td>
              <td>{{ survivor.homePhone }}</td>
              <td>{{ survivor.workPhone }}</td>
              <td>{{ survivor.cellPhone }}</td>
              <td>{{ survivor.emailAddress }}</td>
              <td>{{ survivor.nameOfPlaceOfEmployment }}</td>
              <td>{{ survivor.employerAddress }}</td>
              <td>{{ survivor.employerEmail }}</td>
              <td>{{ survivor.dateOfEmployment }}</td>
              <td>{{ survivor.reasonForNonEmployment }}</td>
              <td>{{ survivor.dateOfApplication }}</td>
              <td>{{ survivor.applicationFee }}</td>
              <td>{{ survivor.status }}</td>
              <td>{{ survivor.reasonNotApproved }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/survivor', survivor.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/survivor', survivor.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(survivor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (survivors().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
