<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-survivor-heading"
        data-cy="SurvivorCreateUpdateHeading"
        jhiTranslate="medicalLaboratoryCouncilApp.survivor.home.createOrEditLabel"
      >
        Create or edit a Survivor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="medicalLaboratoryCouncilApp.survivor.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let registrationNumberRef = editForm.get('registrationNumber')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_registrationNumber"
            [ngbTooltip]="'medicalLaboratoryCouncilApp.survivor.help.registrationNumber' | translate"
            jhiTranslate="medicalLaboratoryCouncilApp.survivor.registrationNumber"
            >Registration Number</label
          >
          <input
            type="text"
            class="form-control"
            name="registrationNumber"
            id="field_registrationNumber"
            data-cy="registrationNumber"
            formControlName="registrationNumber"
          />
          @if (registrationNumberRef.invalid && (registrationNumberRef.dirty || registrationNumberRef.touched)) {
            <div>
              @if (editForm.get('registrationNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let surnameRef = editForm.get('surname')!;
        <div class="mb-3">
          <label class="form-label" for="field_surname" jhiTranslate="medicalLaboratoryCouncilApp.survivor.surname">Surname</label>
          <input type="text" class="form-control" name="surname" id="field_surname" data-cy="surname" formControlName="surname" />
          @if (surnameRef.invalid && (surnameRef.dirty || surnameRef.touched)) {
            <div>
              @if (editForm.get('surname')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let forenamesRef = editForm.get('forenames')!;
        <div class="mb-3">
          <label class="form-label" for="field_forenames" jhiTranslate="medicalLaboratoryCouncilApp.survivor.forenames">Forenames</label>
          <input type="text" class="form-control" name="forenames" id="field_forenames" data-cy="forenames" formControlName="forenames" />
          @if (forenamesRef.invalid && (forenamesRef.dirty || forenamesRef.touched)) {
            <div>
              @if (editForm.get('forenames')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_previousSurname" jhiTranslate="medicalLaboratoryCouncilApp.survivor.previousSurname"
            >Previous Surname</label
          >
          <input
            type="text"
            class="form-control"
            name="previousSurname"
            id="field_previousSurname"
            data-cy="previousSurname"
            formControlName="previousSurname"
          />
        </div>

        @let dobRef = editForm.get('dob')!;
        <div class="mb-3">
          <label class="form-label" for="field_dob" jhiTranslate="medicalLaboratoryCouncilApp.survivor.dob">Dob</label>
          <div class="input-group">
            <input
              id="field_dob"
              data-cy="dob"
              type="text"
              class="form-control"
              name="dob"
              ngbDatepicker
              #dobDp="ngbDatepicker"
              formControlName="dob"
            />
            <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (dobRef.invalid && (dobRef.dirty || dobRef.touched)) {
            <div>
              @if (editForm.get('dob')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let genderRef = editForm.get('gender')!;
        <div class="mb-3">
          <label class="form-label" for="field_gender" jhiTranslate="medicalLaboratoryCouncilApp.survivor.gender">Gender</label>
          <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
            <option [ngValue]="null">{{ 'medicalLaboratoryCouncilApp.Gender.null' | translate }}</option>
            @for (gender of genderValues; track $index) {
              <option [value]="gender">{{ 'medicalLaboratoryCouncilApp.Gender.' + gender | translate }}</option>
            }
          </select>
          @if (genderRef.invalid && (genderRef.dirty || genderRef.touched)) {
            <div>
              @if (editForm.get('gender')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
