<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-survivor-heading"
        data-cy="SurvivorCreateUpdateHeading"
        jhiTranslate="medicalLaboratoryCouncilApp.survivor.home.createOrEditLabel"
      >
        Create or edit a Survivor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="medicalLaboratoryCouncilApp.survivor.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let registrationNumberRef = editForm.get('registrationNumber')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_registrationNumber"
            [ngbTooltip]="'medicalLaboratoryCouncilApp.survivor.help.registrationNumber' | translate"
            jhiTranslate="medicalLaboratoryCouncilApp.survivor.registrationNumber"
            >Registration Number</label
          >
          <input
            type="text"
            class="form-control"
            name="registrationNumber"
            id="field_registrationNumber"
            data-cy="registrationNumber"
            formControlName="registrationNumber"
          />
          @if (registrationNumberRef.invalid && (registrationNumberRef.dirty || registrationNumberRef.touched)) {
            <div>
              @if (editForm.get('registrationNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let surnameRef = editForm.get('surname')!;
        <div class="mb-3">
          <label class="form-label" for="field_surname" jhiTranslate="medicalLaboratoryCouncilApp.survivor.surname">Surname</label>
          <input type="text" class="form-control" name="surname" id="field_surname" data-cy="surname" formControlName="surname" />
          @if (surnameRef.invalid && (surnameRef.dirty || surnameRef.touched)) {
            <div>
              @if (editForm.get('surname')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let forenamesRef = editForm.get('forenames')!;
        <div class="mb-3">
          <label class="form-label" for="field_forenames" jhiTranslate="medicalLaboratoryCouncilApp.survivor.forenames">Forenames</label>
          <input type="text" class="form-control" name="forenames" id="field_forenames" data-cy="forenames" formControlName="forenames" />
          @if (forenamesRef.invalid && (forenamesRef.dirty || forenamesRef.touched)) {
            <div>
              @if (editForm.get('forenames')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_previousSurname" jhiTranslate="medicalLaboratoryCouncilApp.survivor.previousSurname"
            >Previous Surname</label
          >
          <input
            type="text"
            class="form-control"
            name="previousSurname"
            id="field_previousSurname"
            data-cy="previousSurname"
            formControlName="previousSurname"
          />
        </div>

        @let dobRef = editForm.get('dob')!;
        <div class="mb-3">
          <label class="form-label" for="field_dob" jhiTranslate="medicalLaboratoryCouncilApp.survivor.dob">Dob</label>
          <div class="input-group">
            <input
              id="field_dob"
              data-cy="dob"
              type="text"
              class="form-control"
              name="dob"
              ngbDatepicker
              #dobDp="ngbDatepicker"
              formControlName="dob"
            />
            <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (dobRef.invalid && (dobRef.dirty || dobRef.touched)) {
            <div>
              @if (editForm.get('dob')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let genderRef = editForm.get('gender')!;
        <div class="mb-3">
          <label class="form-label" for="field_gender" jhiTranslate="medicalLaboratoryCouncilApp.survivor.gender">Gender</label>
          <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
            <option [ngValue]="null">{{ 'medicalLaboratoryCouncilApp.Gender.null' | translate }}</option>
            @for (gender of genderValues; track $index) {
              <option [value]="gender">{{ 'medicalLaboratoryCouncilApp.Gender.' + gender | translate }}</option>
            }
          </select>
          @if (genderRef.invalid && (genderRef.dirty || genderRef.touched)) {
            <div>
              @if (editForm.get('gender')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_placeOfBirthTown" jhiTranslate="medicalLaboratoryCouncilApp.survivor.placeOfBirthTown"
            >Place Of Birth Town</label
          >
          <input
            type="text"
            class="form-control"
            name="placeOfBirthTown"
            id="field_placeOfBirthTown"
            data-cy="placeOfBirthTown"
            formControlName="placeOfBirthTown"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_placeOfBirthCountry" jhiTranslate="medicalLaboratoryCouncilApp.survivor.placeOfBirthCountry"
            >Place Of Birth Country</label
          >
          <input
            type="text"
            class="form-control"
            name="placeOfBirthCountry"
            id="field_placeOfBirthCountry"
            data-cy="placeOfBirthCountry"
            formControlName="placeOfBirthCountry"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nationality" jhiTranslate="medicalLaboratoryCouncilApp.survivor.nationality"
            >Nationality</label
          >
          <input
            type="text"
            class="form-control"
            name="nationality"
            id="field_nationality"
            data-cy="nationality"
            formControlName="nationality"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nationalId" jhiTranslate="medicalLaboratoryCouncilApp.survivor.nationalId"
            >National Id</label
          >
          <input
            type="text"
            class="form-control"
            name="nationalId"
            id="field_nationalId"
            data-cy="nationalId"
            formControlName="nationalId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_residentialAddress1" jhiTranslate="medicalLaboratoryCouncilApp.survivor.residentialAddress1"
            >Residential Address 1</label
          >
          <input
            type="text"
            class="form-control"
            name="residentialAddress1"
            id="field_residentialAddress1"
            data-cy="residentialAddress1"
            formControlName="residentialAddress1"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_residentialAddress2" jhiTranslate="medicalLaboratoryCouncilApp.survivor.residentialAddress2"
            >Residential Address 2</label
          >
          <input
            type="text"
            class="form-control"
            name="residentialAddress2"
            id="field_residentialAddress2"
            data-cy="residentialAddress2"
            formControlName="residentialAddress2"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_residentialAddress3" jhiTranslate="medicalLaboratoryCouncilApp.survivor.residentialAddress3"
            >Residential Address 3</label
          >
          <input
            type="text"
            class="form-control"
            name="residentialAddress3"
            id="field_residentialAddress3"
            data-cy="residentialAddress3"
            formControlName="residentialAddress3"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_homePhone" jhiTranslate="medicalLaboratoryCouncilApp.survivor.homePhone">Home Phone</label>
          <input type="text" class="form-control" name="homePhone" id="field_homePhone" data-cy="homePhone" formControlName="homePhone" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_workPhone" jhiTranslate="medicalLaboratoryCouncilApp.survivor.workPhone">Work Phone</label>
          <input type="text" class="form-control" name="workPhone" id="field_workPhone" data-cy="workPhone" formControlName="workPhone" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cellPhone" jhiTranslate="medicalLaboratoryCouncilApp.survivor.cellPhone">Cell Phone</label>
          <input type="text" class="form-control" name="cellPhone" id="field_cellPhone" data-cy="cellPhone" formControlName="cellPhone" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_emailAddress" jhiTranslate="medicalLaboratoryCouncilApp.survivor.emailAddress"
            >Email Address</label
          >
          <input
            type="text"
            class="form-control"
            name="emailAddress"
            id="field_emailAddress"
            data-cy="emailAddress"
            formControlName="emailAddress"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_nameOfPlaceOfEmployment"
            jhiTranslate="medicalLaboratoryCouncilApp.survivor.nameOfPlaceOfEmployment"
            >Name Of Place Of Employment</label
          >
          <input
            type="text"
            class="form-control"
            name="nameOfPlaceOfEmployment"
            id="field_nameOfPlaceOfEmployment"
            data-cy="nameOfPlaceOfEmployment"
            formControlName="nameOfPlaceOfEmployment"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_employerAddress" jhiTranslate="medicalLaboratoryCouncilApp.survivor.employerAddress"
            >Employer Address</label
          >
          <input
            type="text"
            class="form-control"
            name="employerAddress"
            id="field_employerAddress"
            data-cy="employerAddress"
            formControlName="employerAddress"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_employerEmail" jhiTranslate="medicalLaboratoryCouncilApp.survivor.employerEmail"
            >Employer Email</label
          >
          <input
            type="text"
            class="form-control"
            name="employerEmail"
            id="field_employerEmail"
            data-cy="employerEmail"
            formControlName="employerEmail"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateOfEmployment" jhiTranslate="medicalLaboratoryCouncilApp.survivor.dateOfEmployment"
            >Date Of Employment</label
          >
          <input
            type="text"
            class="form-control"
            name="dateOfEmployment"
            id="field_dateOfEmployment"
            data-cy="dateOfEmployment"
            formControlName="dateOfEmployment"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_reasonForNonEmployment"
            jhiTranslate="medicalLaboratoryCouncilApp.survivor.reasonForNonEmployment"
            >Reason For Non Employment</label
          >
          <input
            type="text"
            class="form-control"
            name="reasonForNonEmployment"
            id="field_reasonForNonEmployment"
            data-cy="reasonForNonEmployment"
            formControlName="reasonForNonEmployment"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateOfApplication" jhiTranslate="medicalLaboratoryCouncilApp.survivor.dateOfApplication"
            >Date Of Application</label
          >
          <input
            type="text"
            class="form-control"
            name="dateOfApplication"
            id="field_dateOfApplication"
            data-cy="dateOfApplication"
            formControlName="dateOfApplication"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_applicationFee" jhiTranslate="medicalLaboratoryCouncilApp.survivor.applicationFee"
            >Application Fee</label
          >
          <input
            type="text"
            class="form-control"
            name="applicationFee"
            id="field_applicationFee"
            data-cy="applicationFee"
            formControlName="applicationFee"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="medicalLaboratoryCouncilApp.survivor.status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_reasonNotApproved" jhiTranslate="medicalLaboratoryCouncilApp.survivor.reasonNotApproved"
            >Reason Not Approved</label
          >
          <input
            type="text"
            class="form-control"
            name="reasonNotApproved"
            id="field_reasonNotApproved"
            data-cy="reasonNotApproved"
            formControlName="reasonNotApproved"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
