<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-survivor-heading"
        data-cy="SurvivorCreateUpdateHeading"
        jhiTranslate="medicalLaboratoryCouncilApp.survivor.home.createOrEditLabel"
      >
        Create or edit a Survivor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="medicalLaboratoryCouncilApp.survivor.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_survivorId"
            [ngbTooltip]="'medicalLaboratoryCouncilApp.survivor.help.survivorId' | translate"
            jhiTranslate="medicalLaboratoryCouncilApp.survivor.survivorId"
            >Survivor Id</label
          >
          <input
            type="text"
            class="form-control"
            name="survivorId"
            id="field_survivorId"
            data-cy="survivorId"
            formControlName="survivorId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="medicalLaboratoryCouncilApp.survivor.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_age" jhiTranslate="medicalLaboratoryCouncilApp.survivor.age">Age</label>
          <input type="number" class="form-control" name="age" id="field_age" data-cy="age" formControlName="age" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_gender" jhiTranslate="medicalLaboratoryCouncilApp.survivor.gender">Gender</label>
          <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
            <option [ngValue]="null">{{ 'medicalLaboratoryCouncilApp.Gender.null' | translate }}</option>
            @for (gender of genderValues; track $index) {
              <option [value]="gender">{{ 'medicalLaboratoryCouncilApp.Gender.' + gender | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_latitude" jhiTranslate="medicalLaboratoryCouncilApp.survivor.latitude">Latitude</label>
          <input type="text" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_longitude" jhiTranslate="medicalLaboratoryCouncilApp.survivor.longitude">Longitude</label>
          <input type="text" class="form-control" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="medicalLaboratoryCouncilApp.survivor.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'medicalLaboratoryCouncilApp.InfectionStatus.null' | translate }}</option>
            @for (infectionStatus of infectionStatusValues; track $index) {
              <option [value]="infectionStatus">{{ 'medicalLaboratoryCouncilApp.InfectionStatus.' + infectionStatus | translate }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
