<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-resource-heading"
        data-cy="ResourceCreateUpdateHeading"
        jhiTranslate="medicalLaboratoryCouncilApp.resource.home.createOrEditLabel"
      >
        Create or edit a Resource
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="medicalLaboratoryCouncilApp.resource.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_resourceType"
            [ngbTooltip]="'medicalLaboratoryCouncilApp.resource.help.resourceType' | translate"
            jhiTranslate="medicalLaboratoryCouncilApp.resource.resourceType"
            >Resource Type</label
          >
          <select class="form-control" name="resourceType" formControlName="resourceType" id="field_resourceType" data-cy="resourceType">
            <option [ngValue]="null">{{ 'medicalLaboratoryCouncilApp.ResourceType.null' | translate }}</option>
            @for (resourceType of resourceTypeValues; track $index) {
              <option [value]="resourceType">{{ 'medicalLaboratoryCouncilApp.ResourceType.' + resourceType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_quantity" jhiTranslate="medicalLaboratoryCouncilApp.resource.quantity">Quantity</label>
          <input type="text" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_survivor" jhiTranslate="medicalLaboratoryCouncilApp.resource.survivor">Survivor</label>
          <select
            class="form-control"
            id="field_survivor"
            data-cy="survivor"
            name="survivor"
            formControlName="survivor"
            [compareWith]="compareSurvivor"
          >
            <option [ngValue]="null"></option>
            @for (survivorOption of survivorsSharedCollection; track $index) {
              <option [ngValue]="survivorOption">{{ survivorOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
