<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (survivor(); as survivorRef) {
      <div>
        <h2 data-cy="survivorDetailsHeading"><span jhiTranslate="medicalLaboratoryCouncilApp.survivor.detail.title">Survivor</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ survivorRef.id }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'medicalLaboratoryCouncilApp.survivor.help.registrationNumber' | translate"
              jhiTranslate="medicalLaboratoryCouncilApp.survivor.registrationNumber"
              >Registration Number</span
            >
          </dt>
          <dd>
            <span>{{ survivorRef.registrationNumber }}</span>
          </dd>
          <dt><span jhiTranslate="medicalLaboratoryCouncilApp.survivor.surname">Surname</span></dt>
          <dd>
            <span>{{ survivorRef.surname }}</span>
          </dd>
          <dt><span jhiTranslate="medicalLaboratoryCouncilApp.survivor.forenames">Forenames</span></dt>
          <dd>
            <span>{{ survivorRef.forenames }}</span>
          </dd>
          <dt><span jhiTranslate="medicalLaboratoryCouncilApp.survivor.previousSurname">Previous Surname</span></dt>
          <dd>
            <span>{{ survivorRef.previousSurname }}</span>
          </dd>
          <dt><span jhiTranslate="medicalLaboratoryCouncilApp.survivor.dob">Dob</span></dt>
          <dd>
            <span>{{ survivorRef.dob | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="medicalLaboratoryCouncilApp.survivor.gender">Gender</span></dt>
          <dd>
            <span [jhiTranslate]="'medicalLaboratoryCouncilApp.Gender.' + (survivorRef.gender ?? 'null')">{{
              { null: '', Male: 'Male', Female: 'Female', Unknown: 'Unknown' }[survivorRef.gender ?? 'null']
            }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/survivor', survivorRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
