<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (survivor(); as survivorRef) {
      <div>
        <h2 data-cy="survivorDetailsHeading"><span jhiTranslate="medicalLaboratoryCouncilApp.survivor.detail.title">Survivor</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ survivorRef.id }}</span>
          </dd>
          <dt>
            <span
              [ngbTooltip]="'medicalLaboratoryCouncilApp.survivor.help.name' | translate"
              jhiTranslate="medicalLaboratoryCouncilApp.survivor.name"
              >Name</span
            >
          </dt>
          <dd>
            <span>{{ survivorRef.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/survivor', survivorRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
